<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Cảnh báo nguy cơ trượt lở - lũ bùn đá - lũ quét</title>
	<link href="../../static/Home/Logo_web.jpg" rel="shortcut icon">
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'Home/style.css' %}">

</head>

<body>
	<div data-collapse="tiny" data-animation="over-right" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar w-nav">
		<div  class="w-container">
			<a href="/" aria-current="page" class="logo w-nav-brand w--current">
			<div class="long-text">EWS community</div>			
			</a>

			<nav role="navigation" class="nav-menu w-nav-menu">
				<a href="{% url 'Home:Home' %}" aria-current="page" class="nav-link w-nav-link w--current">Trang chủ</a>
				<a href="{% url 'EarlyWarningNote:EarlyWarningNote' %}" aria-current="page" class="nav-link w-nav-link">Cảnh báo sớm</a>
				<a href="{% url 'MonitoringData:MonitoringData' %}" aria-current="page" class="nav-link w-nav-link">Quan trắc</a>
				<a href="{% url 'TrainingMaterial:TrainingMaterial' %}" aria-current="page" class="nav-link w-nav-link">Tài liệu tập huấn</a>
				<a href="{% url 'Contact:Contact' %}" aria-current="page" class="nav-link w-nav-link">Liên hệ</a>
				<a href="#" class="close-x w-hidden-main w-hidden-medium w-hidden-small">×</a>
			</nav>
			<div class="menu-button w-hidden-main w-hidden-medium w-hidden-small w-clearfix w-nav-button">
				<div class="menu-icon w-icon-nav-menu"></div>
				<div class="menu-link">MENU</div>
			</div>


			<a class="nav-account">Account: Admin</a>

			<a class="weather-logo" rel="noopener" target="_blank" aria-label="" title="" href="https://www.msn.com/vi-vn/weather/forecast/in-Th%E1%BB%A5y-Khu%C3%AA,H%C3%A0-N%E1%BB%99i?loc=eyJsIjoiVGjhu6V5IEtodcOqIiwiciI6IkjDoCBO4buZaSIsImMiOiJWaeG7h3QgTmFtIiwiaSI6IlZOIiwiZyI6InZpLXZuIiwieCI6MTA1LjgxOTk5OTY5NDgyNDIyLCJ5IjoyMS4wNDM1MDA5MDAyNjg1NTV9&amp;weadegreetype=C" data-t="{&quot;n&quot;:&quot;weather_link&quot;,&quot;b&quot;:1,&quot;d&quot;:&quot;https://www.msn.com/vi-vn/weather/forecast/in-Th%E1%BB%A5y-Khu%C3%AA,H%C3%A0-N%E1%BB%99i?loc=eyJsIjoiVGjhu6V5IEtodcOqIiwiciI6IkjDoCBO4buZaSIsImMiOiJWaeG7h3QgTmFtIiwiaSI6IlZOIiwiZyI6InZpLXZuIiwieCI6MTA1LjgxOTk5OTY5NDgyNDIyLCJ5IjoyMS4wNDM1MDA5MDAyNjg1NTV9&amp;weadegreetype=C&quot;,&quot;c.t&quot;:36,&quot;c.v&quot;:&quot;weather&quot;,&quot;c.c&quot;:&quot;today&quot;,&quot;c.hl&quot;:&quot;28°C&quot;}" style="display: flex;" aria-expanded="false">
				<div id="i_location" class="location-left dark-font-color" title="" style="display: flex;">Hà Nội, ngày _</div>
				<div id="current-time"></div>
				<script>
				    var curDate = new Date();					      
				    // Ngày hiện tại
				    var curDay = curDate.getDate();					 
				    // Tháng hiện tại
				    var curMonth = curDate.getMonth() + 1;					      
				    // Năm hiện tại
				    var curYear = curDate.getFullYear();					 
				    // Gán vào thẻ HTML
				    document.getElementById('current-time').innerHTML =" " +  curDay + "/" + curMonth + "/" + curYear;
					</script>
				<div class="weather-glyph-location text-wrapper-image-hidden">
					<img class="icon-svg" src="https://assets.msn.com/weathermapdata/1/static/svg/72/v2/card/CloudyV3.svg" alt="Có mây">
				</div>
				<div class="weather-temperature"><span class="weather-text-location-left dark-font-color">‎28‎‎°C‎</span></div>
			</a>

		</div>
	</div>

	<div class="hero-section wf-section">
		<div class="hero-content w-container">
			<div style="-webkit-transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, -30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="hero-heading">Let's do it together.</div>
			<div style="opacity:0;-webkit-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30PX, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="hero-subheading">We travel the world in search of stories. Come along for the ride.</div>
			<a href="#Latest-post" style="opacity:0" class="button w-button">View Latest Posts</a>
		</div>
	</div>


	<div class="content">
		{% block content %}

		{% endblock %}
	</div>
</body>
</html>


<!--


