<!DOCTYPE html>
<html>
<head>
	<title>Biện pháp ứng phó</title>
<head>

{% extends 'Home/base.html' %}

<body>
{% block content %}
	<div id="posts" class="main-section bottom-padding wf-section">
		<div id="Latest-post" class="w-container">
			<div class="section-heading">
				<h2 class="section-title">TIMELINE CẢNH BÁO NGUY CƠ TAI BIẾN TRƯỢT LỞ - LŨ BÙN ĐÁ - LŨ QUÉT <br> TẠI 3 KHU VỰC NGHIÊN CỨU CHI TIẾT </h2>
				<div class="med-divider"></div>
			</div>	
			<div class="w-dyn-list" style="text-align: center; display: block;">
				<div role="list" class="w-clearfix w-dyn-items w-row">
					<h4 class="blog-title">TIMELINE CẢNH BÁO NGUY CƠ TAI BIẾN XÃ BẢN RỊA - HÀ GIANG</h4><br>
					<a href='https://postimages.org/' target='_blank'><img src='https://i.postimg.cc/nhnGd3H4/Timeline-of-Disaster-Related-Flickr-Activity.jpg' border='0' alt='Timeline-of-Disaster-Related-Flickr-Activity'/></a>
				</div>
				<div role="list">
					<h4 class="blog-title">TIMELINE CẢNH BÁO NGUY CƠ TAI BIẾN XÃ CẤT THỊNH - YÊN BÁI</h4><br>
					<a href='https://postimages.org/' target='_blank'><img src='https://i.postimg.cc/nhnGd3H4/Timeline-of-Disaster-Related-Flickr-Activity.jpg' border='0' alt='Timeline-of-Disaster-Related-Flickr-Activity'/></a>
				</div>
				<div role="list">
					<h4 class="blog-title">TIMELINE CẢNH BÁO NGUY CƠ TAI BIẾN XÃ CHIỀNG ĐÔNG - SƠN LA</h4><br>
					<a href='https://postimages.org/' target='_blank'><img src='https://i.postimg.cc/nhnGd3H4/Timeline-of-Disaster-Related-Flickr-Activity.jpg' border='0' alt='Timeline-of-Disaster-Related-Flickr-Activity'/></a>
				</div>		
			</div>
		</div>
	</div>

	<div id="posts" class="wf-section">
		<div id="Latest-post" class="w-container">
			<div class="section-heading">
				<h2 class="section-title">DỰ BÁO NGUY CƠ TRƯỢT LỞ THEO CÁC KHOẢNG THỜI GIAN</h2>
				<div class="med-divider"></div>
			</div>
			<br>
			<a href='https://postimages.org/' target='_blank' style="text-align: center; display: block;"><img src='https://i.postimg.cc/mDP8dcLh/Forecast-landslide-2022-07-31.jpg' border='0' alt='Forecast-landslide-2022-07-31'/></a>
		</div>
	</div>

	<div id="posts" class="main-section bottom-padding wf-section">
		<div id="Latest-post" class="w-container">
			<div class="section-heading">
				<h2 class="section-title">SỐ LIỆU KHÍ TƯỢNG PHỤC VỤ CẢNH BÁO SỚM</h2>
				<div class="med-divider"></div>
			</div>
			<div class="w-dyn-list" style="text-align: center; display: block;">
				<div role="list" class="w-clearfix w-dyn-items w-row">
					<h4 class="blog-title">DỮ LIỆU ẢNH RADAR MÂY VỆ TINH - NGUỒN VENTUSKY</h4>
					<iframe
						width="650"
						height="450"
						frameborder="0" style="border:0"
						loading="lazy" allowfullscreen
						src="https://www.ventusky.com/?p=20.18;106.14;5&l=radar">
					</iframe>
				</div>
				<div role="list">
					<h4 class="blog-title">DỰ BÁO MƯA TRONG 12 GIỜ TỚI - NGUỒN WINDY.COM</h4>
					<iframe
						width="650"
						height="450"
						frameborder="0" style="border:0"
						loading="lazy" allowfullscreen
						src="https://embed.windy.com/embed2.html?lat=20.283&lon=107.095&detailLat=21.031&detailLon=105.852&width=650&height=450&zoom=6&level=surface&overlay=rain&product=ecmwf&menu=&message=&marker=&calendar=12&pressure=&type=map&location=coordinates&detail=&metricWind=default&metricTemp=default&radarRange=-1">
					</iframe>
				</div>				
			</div>
		</div>
	</div>


{% endblock %}
</body>
</html>