<!DOCTYPE html>
<html>
<head>
	<title>Dữ liệu quan trắc</title>
<head>

{% extends 'Home/base.html' %}

<body>
{% block content %}
	<div id="posts" class="main-section bottom-padding wf-section">
		<div id="Latest-post" class="w-container">
			<div class="section-heading">
				<h2 class="section-title">HỆ THỐNG QUAN TRẮC TẠI XÃ BẢN RỊA - QUANG BÌNH - HÀ GIANG</h2>
				<div class="med-divider"></div>
			</div>	
			<div class="w-dyn-list" style="text-align: center; display: block;">
				<div role="list" class="w-clearfix w-dyn-items w-row">
					<h4 class="blog-title">DIỄN BIẾN MƯA GIỜ</h4><br>
					<a href='https://postimages.org/' target='_blank'><img src='https://i.postimg.cc/nhnGd3H4/Timeline-of-Disaster-Related-Flickr-Activity.jpg' border='0' alt='Timeline-of-Disaster-Related-Flickr-Activity'/></a>
				</div>
				<div role="list">
					<h4 class="blog-title">DIỄN BIẾN MỰC NƯỚC SUỐI</h4><br>
					<a href='https://postimages.org/' target='_blank'><img src='https://i.postimg.cc/nhnGd3H4/Timeline-of-Disaster-Related-Flickr-Activity.jpg' border='0' alt='Timeline-of-Disaster-Related-Flickr-Activity'/></a>
				</div>
				<div role="list">
					<h4 class="blog-title">DIỄN BIẾN ÁP LỰC NƯỚC LỖ RỖNG TRÊN SƯỜN LA</h4><br>
					<a href='https://postimages.org/' target='_blank'><img src='https://i.postimg.cc/nhnGd3H4/Timeline-of-Disaster-Related-Flickr-Activity.jpg' border='0' alt='Timeline-of-Disaster-Related-Flickr-Activity'/></a>
				</div>
				<div role="list">
					<h4 class="blog-title">DIỄN BIẾN RUNG ĐỘNG NỀN XÁC ĐỊNH BẰNG GEOPHONE</h4><br>
					<a href='https://postimages.org/' target='_blank'><img src='https://i.postimg.cc/nhnGd3H4/Timeline-of-Disaster-Related-Flickr-Activity.jpg' border='0' alt='Timeline-of-Disaster-Related-Flickr-Activity'/></a>
				</div>
				<div role="list">
					<h4 class="blog-title">HÌNH ẢNH GIÁM SÁT SUỐI BẰNG CAMERA</h4><br>
					<iframe
						width="640"
						height="360"
						frameborder="0" style="border:0"
						loading="lazy" allowfullscreen
						src="https://www.youtube.com/embed/y7e-GC6oGhg">
					</iframe>
				</div>			
			</div>
		</div>
	</div>

	<div id="posts" class="main-section bottom-padding wf-section">
		<div id="Latest-post" class="w-container">
			<div class="section-heading">
				<h2 class="section-title">HỆ THỐNG QUAN TRẮC TẠI XÃ CÁT THỊNH - VĂN CHẤN - YÊN BÁI</h2>
				<div class="med-divider"></div>
			</div>	
			<div class="w-dyn-list" style="text-align: center; display: block;">
				<div role="list" class="w-clearfix w-dyn-items w-row">
					<h4 class="blog-title">DIỄN BIẾN MƯA GIỜ</h4><br>
					<a href='https://postimages.org/' target='_blank'><img src='https://i.postimg.cc/nhnGd3H4/Timeline-of-Disaster-Related-Flickr-Activity.jpg' border='0' alt='Timeline-of-Disaster-Related-Flickr-Activity'/></a>
				</div>		
			</div>
		</div>
	</div>

	<div id="posts" class="main-section bottom-padding wf-section">
		<div id="Latest-post" class="w-container">
			<div class="section-heading">
				<h2 class="section-title">HỆ THỐNG QUAN TRẮC TẠI XÃ CHIỀNG ĐÔNG - YÊN CHÂU - SƠN LA</h2>
				<div class="med-divider"></div>
			</div>	
			<div class="w-dyn-list" style="text-align: center; display: block;">
				<div role="list" class="w-clearfix w-dyn-items w-row">
					<h4 class="blog-title">DIỄN BIẾN MƯA GIỜ</h4><br>
					<a href='https://postimages.org/' target='_blank'><img src='https://i.postimg.cc/nhnGd3H4/Timeline-of-Disaster-Related-Flickr-Activity.jpg' border='0' alt='Timeline-of-Disaster-Related-Flickr-Activity'/></a>
				</div>		
			</div>
		</div>
	</div>
{% endblock %}
</body>
</html>