<!DOCTYPE html>
<html>
<head>
	<title>Tài liệu hướng dẫn cho cộng đồng</title>
<head>

{% extends 'Home/base.html' %}

<body>
{% block content %}
	<div class="main-section bottom-padding w-container">
		<div class="section-heading">
			<h2 class="section-title">MỘT SỐ HOẠT ĐỘNG PCTT TIÊU BIỂU CỦA CỘNG ĐỒNG</h2>
			<div class="med-divider"></div>
		</div>
		<div class="w-dyn-list">
			<div role="list" class="w-clearfix w-dyn-items w-row">
				<div role="listitem" class="blog-thumbnail w-dyn-item w-col w-col-4">
					<a href="/blog/still-standing-tall" data-w-id="46150442-4efa-9d36-3a4c-20d527e7a6bc" class="thumbnail-wrapper w-inline-block">
						<div style="background-image: url(&quot;https://assets.website-files.com/5e4b1929fccc7f96f6de825d/5e4b1929fccc7f8ce9de833d_photo-1433854304641-67729357fe18.jpg&quot;); transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" class="thumbnail-image image-wrapper"></div>
						<div class="thumbnail-text">
							<div class="blog-title">Báo cáo tuần</div>
							<div class="preview-text">Tổng thiệt hại do thiên tai đến ngày 31/07/2022.</div>
						</div>
						<div class="thumb-details w-clearfix">
							<div class="author-title">Nguồn: TC PCTT</div>
							<div class="thumbnail-date">31/07/2022</div>
						</div>
					</a>
				</div>
				
				<div role="listitem" class="blog-thumbnail w-dyn-item w-col w-col-4">
					<a href="/blog/sunny-side-up" data-w-id="46150442-4efa-9d36-3a4c-20d527e7a6bc" class="thumbnail-wrapper w-inline-block">
						<div style="background-image: url(&quot;https://assets.website-files.com/5e4b1929fccc7f96f6de825d/5e4b1929fccc7f7caade8338_photo-1431329842981-433c8635c2b9.jpg&quot;); transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" class="thumbnail-image image-wrapper"></div>
						<div class="thumbnail-text">
							<div class="blog-title">Tin tức cảnh báo</div>
							<div class="preview-text">Bản tin cảnh báo thiên tai số 5.</div>
						</div>
						<div class="thumb-details w-clearfix">
							<div class="author-title">Nguồn: TC PCTT</div>
							<div class="thumbnail-date">21/07/2022</div>
						</div>
					</a>
				</div>
				
				<div role="listitem" class="blog-thumbnail w-dyn-item w-col w-col-4">
					<a href="/blog/water-falls" data-w-id="46150442-4efa-9d36-3a4c-20d527e7a6bc" class="thumbnail-wrapper w-inline-block">
						<div style="background-image: url(&quot;https://assets.website-files.com/5e4b1929fccc7f96f6de825d/5e4b1929fccc7f1017de8349_photo-1433155327100-12aac6a14ff1.jpg&quot;); transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" class="thumbnail-image image-wrapper"></div>
						<div class="thumbnail-text">
							<div class="blog-title">Chia sẻ kinh nghiệm về PCCT</div>
							<div class="preview-text">Kinh nghiệm về PCCT của xã Cát Thịnh.</div>
						</div>
						<div class="thumb-details w-clearfix">
							<div class="author-title">Nguồn: BCH PCTT Yên Bái</div>
							<div class="thumbnail-date">05/07/2022</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div id="posts" class="wf-section">
		<div id="Latest-post" class="w-container">
			<div class="section-heading">
				<h2 class="section-title">TÀI LIỆU HƯỚNG DẪN CẢNH BÁO SỚM DỰA VÀO CỘNG ĐỒNG</h2>
				<div class="med-divider"></div>
			</div>
			<br>
			<ul class="blog-title" style="color: black; padding-bottom: 57px;">
				<li><a href= " https://phongchongthientai.mard.gov.vn/Pages/Tai-lieu-truyen-thong-pctt.aspx "target="_blank" style="color: black;"> Tài liệu truyền thông về Phòng chống thiên tai </a></li>
				<li><a href= " http://www.vncold.vn/Modules/CMS/Upload/10/KhoaHocCongNghe/160108/DrPhuc_VinAWARE.pdf "target="_blank" style="color: black;"> Hướng dẫn sử dụng hệ thống cảnh báo sớm dựa vào cộng đồng thôn bản </a></li>
				<li><a href= " https://baochinhphu.vn/bo-y-te-huong-dan-phan-loai-4-cap-do-dich-102302137.htm "target="_blank" style="color: black;"> Bộ tiêu chí các cấp báo động tích hợp tai biến </a></li>
				<li><a href= " https://vncdc.gov.vn/huong-dan-cach-ly-y-te-tai-nha-noi-luu-tru-de-phong-chong-benh-covid-19-nd15558.html "target="_blank" style="color: black;"> Quy trình báo động và ứng phó tai biến cấp thôn bản </a></li>
			</ul>
		</div>
	</div>

	<div class="main-section bottom-padding w-container">
		<div class="section-heading">
			<h2 class="section-title">VIDEO HƯỚNG DẪN PCTT CÓ SỰ THAM GIA CỦA CỘNG ĐỒNG</h2>
			<div class="med-divider"></div>
		</div>
		<div style="text-align: center; display: block;">
			<iframe width="640" height="360" src="https://www.youtube.com/embed/_aghWPzkB7M"></iframe><br>
			<iframe width="640" height="360" src="https://www.youtube.com/embed/Us-TVg40ExM"></iframe><br>
			<iframe width="640" height="360" src="https://www.youtube.com/embed/IIudaL1fzEk"></iframe>
		</div>
	</div>
{% endblock %}
</body>
</html>